<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- VIZPub -->
    <add key="VIZPub_Manager" value="D:\SH_GitHub\VIZPub\VIZPub\VIZPub.exe"/>
    <add key="VIZPub_Mechanical" value="D:\SH_GitHub\VIZPub\VIZCoreTrans\VIZCoreTrans.exe"/>
    <add key="VIZPub_BOM" value=""/>
    
    <!-- VIZWide3D -->
    <add key="VIZWide3D_URI" value="http://127.0.0.1/index.html"/>
    <add key="VIZWide3D_VIZW_PATH" value="E:\TEMP\VIZWide3D\Model"/>
    <add key="VIZWide3D_NAVIGATION_PATH" value="E:\TEMP\VIZWide3D\data"/>
  </appSettings>
</configuration>